.clients{
	@include center;
	margin-top: 55px;
	width: 100%;
	@media #{$mq-670} {
		margin-top: 130px;
	}
	&>div{
		@include center;
		flex-direction: column;
		&>.bnr {
			width: 100%;
			max-height: 200px;
			overflow: hidden;
			@include headerShadow;
			position: relative;
			@media #{$mq-550} {
				background: url('../public/pan-large.jpg') no-repeat center;
				background-size: cover;
				max-height: none;
				height: 400px;
			}
			&>img {
				width: 100%;
				margin-top: -20%;
				@media #{$mq-550} {
					display: none;
				}
			}
			&>h1{
				font-family: "Roboto", sans-serif;
				text-transform: uppercase;
				position: absolute;
				top: 10px;
				right: 10px;
				font-size: 5vh;
				letter-spacing: 4px;
				margin: 0;
				color: #fff;
				text-shadow: 0px 0px 2.5px #000, 0px 0px 5px #000;
				@media #{$mq-550} {
					font-size: 7vh;
					right: 15px;
					top: 15px;
					letter-spacing: 6px;
					text-shadow: 0px 0px 2.5px #000, 0px 0px 5px #000, 0px 0px 7.5px #000;
				}
			}
		}
		&>.client-grid {
			width: 100%;
			@include center;
			flex-wrap: wrap;
			max-width: 1000px;
			&>div {
				width: 50%;
				max-width: 200px;
				height: 150px;
				@include center;
				overflow: hidden;
				@media #{$mq-670} {
					margin: 10px auto;
				}
				&>img {
					width: 80%;
				}
			}
		}
	}
}