.socialize {
	display: none;
	@media #{$mq-670} {
		@include center;
		flex-direction: column;
		position: fixed;
		top: calc(50% - 60px);
		right: 0;
		@include headerShadow;
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
	}
	&>button {
		@include center;
		height: 60px;
		width: 45px;
		border: none;
		outline: none;
		transition-duration: 0.2s;
		&:hover {
			transform: translateX(-5px);
		}
	}
	&>.bar-facebook{
		background: #3B5998 url('../public/facebook-white.svg') no-repeat 37.5% 35%;
		background-size: 60% 60%;
		border-top-left-radius: 5px;
	}
	&>.bar-instagram{
		background: #7F47B7 url('../public/instagram-white.svg') no-repeat 50% 50%;
		background-size: 50% 50%;
	}
	&>.bar-youtube{
		background: #DE2825 url('../public/youtube-white.svg') no-repeat 50% 50%;
		background-size: 55% 55%;
		border-bottom-left-radius: 5px;
	}
}