footer {
	// height: 300px;
	width: 100%;
	background: url('../public/ep_naturalblack.png') repeat center;
	@include center;
	// margin: 40px auto;
	// @media #{$mq-670} {
	// 	height: 250px;
	// }
	&>div{
		@include center;
		flex-direction: column;
		align-self: flex-end;
		margin: 30px auto;
		@media #{$mq-670} {
			flex-direction: column-reverse;
		}
		&>.logo {
			height: 80px;
			@include center;
			flex-direction: column;
			cursor: pointer;
			@media #{$mq-800} {
				height: 130px;
				transition: height 0.4s;
			}
			&>img {
				height: 70px;
				width: 70px;
				@media #{$mq-800} {
					height: 90px;
					width: 90px;
					transition: height 0.4s, width 0.4s;
				}
			}
			&>p{
				font-family: "Cantarell", sans-serif;
				color: #fff;
				font-size: 0.8em;
				margin: 0;
				@media #{$mq-800} {
					font-size: 0.9em;
					transition: font-size 0.4s;
				}
			}
		}
	}
}