@import 'components/variables';
@import 'components/reset';
@import 'components/loader/loader';
@import 'components/header/header';
@import 'components/header/burger';
@import 'components/header/socialize';
@import 'components/home/banner';
@import 'components/home/intro';
@import 'components/home/img-grid';
.scroll-up {
	@include center;
	width: 100%;
	height: 100px;
	margin-bottom: 20px;
	&>button {
		height: 50px;
		width: 50px;
		border: none;
		outline: none;
		background: url('../public/up.svg') no-repeat center;
		background-size: contain;
		animation: jump 1.5s infinite;
	}
}
@import 'components/footer/footer';
@import 'components/menu/menu';
@import 'components/recipes/recipesBanner';
@import 'components/recipes/recipesGrid';
@import 'components/whatWeDo/what-we-do';
@import 'components/clients/clients';
@import 'components/contact/contact';
@import 'components/recipe/recipe';
